<img src="/img/logo-dev.png" alt="Development Updates" />
<p class="center">Please click <a href="/">here</a> to see release updates.</p>
<table id="update-list-dev">
	<tr>
		<th class="dev">Updated</th>
		<th class="dev">Mod</th>
	</tr>
</table>
