<img src="/img/logo.png" alt="MOMW Mod Update Center" />
<p class="center">Please click <a href="/dev/">here</a> to see dev updates.</p>
<table id="update-list">
	<tr>
		<th>Updated</th>
		<th>Mod</th>
		<th>Latest Version</th>
	</tr>
</table>
