body {
    max-width: 55em;
}

a:link, a:visited {
    color: #4a4a4a;
    text-decoration: underline;
}

a:hover, a:active {
    color: #7d7d7d;
    text-decoration: none;
    border-bottom: none;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

table#dev-build {
    font-size: 0.9em;
    margin-bottom: 20px;
    margin-top: 20px;
}

table#links {
    font-size: 1.1em;
}

table#errors {
    color: red;
}

table#shas {
    font-size: 0.8em;
}

img {
    margin-bottom: 0;
}

table#update-list a:hover, table#update-list a:active {
    color: #ffcc00;
    border-bottom: none;
    text-decoration: none;
}

table#update-list-dev a:hover, table#update-list-dev a:active {
    color: #6981ff;
    border-bottom: none;
    text-decoration: none;
}

table, tr, td {
    border: none;
    margin: 8px auto 48px;
    border-collapse: separate;
    border-spacing: 0 12px;
}

th, td {
    text-align: center;
    padding: 12px;
}

th {
    font-size: 1.4em;
    color: #ffcc00;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    border-bottom: 4px groove #ffcc00;
}

tr.listicle {
    box-shadow: 2px 2px 6px #000000;
}

th.dev {
    color: #6981ff;
    border-bottom: 4px groove #6981ff;
}
