div#links a#download:visited {
  color: #000000;
}

a:link, a:visited {
    color: #c9c9c9;
    text-decoration: underline;
}

a:hover, a:active {
    color: #ffffff;
    text-decoration: none;
    border-bottom: none;
}
